/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Style global */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f8f5f0; /* Fond général */
  color: #333333; /* Couleur de texte par défaut */
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif; /* Titres élégants */
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}

/* Liens */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Conteneur */
.container {
  max-width: 1200px;
}
