/* Appliquer un style de base uniforme pour les champs input et select */
input, select {
  border: 1px solid #ADCB90;
  border-radius: 0.375rem;
  padding: 0.75rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
  outline: none;
  border-color: #ADCB90;
  box-shadow: 0 0 0 3px rgba(173, 203, 144, 0.4);
}

input:disabled, select:disabled {
  background-color: #f9fafb;
  border-color: #d1d5db;
  opacity: 0.5;
  cursor: not-allowed;
}

/* Champ "Référence VCA" */
#reference {
  border-color: #d1bfa7;
}
#reference:focus {
  border-color: #d1bfa7;
  box-shadow: 0 0 0 3px rgba(209, 191, 167, 0.4);
}

/* Forcer Open Sans + lining figures */
html, body {
  font-family: 'Open Sans', sans-serif;
  /* Tente d’activer lining-nums (chiffres à la hauteur des majuscules).
     Si besoin, tu peux aussi ajouter "tabular-nums" si tu veux des chiffres à chasse fixe. */
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
}
